<div>
  @if(!user.selectedUser())
  {
    <div>
      <!-- <a routerLink="/bankers">משכיר </a> |
      <a routerLink="/customers">שוכר</a> | -->
      <a routerLink="/register">הרשמה</a> |
      <a routerLink="/login">כניסה</a>


    </div>
  }
  @else
  {
    <a routerLink="/bankers">דף הבית </a> |
    <a routerLink="/customers">עוד דף</a>
    {{user.selectedUser()?.userName}}
    <a href="#" (click)="logout()">התנתק</a>

  }
  <hr />

  <!-- <div *ngIf="currentUser">
  שלום {{ currentUser.userName }}! ({{ currentUser.role }})
</div> -->
</div>
<button (click)="logout()">כפתור</button>
<router-outlet></router-outlet>